<div layout="column" ng-cloak class="module-padding">

    <!-- navigation tabs -->
    <md-nav-bar md-selected-nav-item="$ctrl.tabIndex">
        <md-nav-item md-nav-click="goto('hostname')" name="hostname">Device name</md-nav-item>
        <md-nav-item md-nav-click="goto('position')" name="position">Localisation</md-nav-item>
        <md-nav-item md-nav-click="goto('auth')" name="auth">Secured access</md-nav-item>
    </md-nav-bar>

    <!-- device name -->
    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='hostname'">
        <config-text
            cl-title="Set device name" cl-subtitle="Name must contain digits, chars and hyphens only. It cannot starts and ends with hyphen, cannot starts with digit."
            cl-btn-icon="rename"
            cl-model="$ctrl.hostname" cl-click="$ctrl.setHostname()"
        ></config-text>
    </div>

    <!-- localisation -->
    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='position'">
        <config-section cl-title="Device localisation" cl-icon="earth"></config-section>
        <config-note
            cl-icon="information-outline"
            cl-note="To adjust automatically device time and lang please center approximatively your device position on the map.<br>This will also allow the device to compute sunset and sunrise times.<br><br>Keep in mind that all your personal data remain private and stored only on your device."
        ></config-note>
        <config-map cl-title="Select approximative device position on map to compute localisation values"
            cl-latitude="$ctrl.position.latitude" cl-longitude="$ctrl.position.longitude"
            cl-click="$ctrl.setPosition(latitude, longitude)"
        ></config-map>

        <config-section cl-title="Device localisation values" cl-icon="map-marker"></config-section>
        <config-comment cl-title="Sunrise time" cl-comment="$ctrl.sun.sunrise | hrTime"></config-comment>
        <config-comment cl-title="Sunset time" cl-comment="$ctrl.sun.sunset | hrTime"></config-comment>
        <config-comment cl-title="Country" cl-comment="$ctrl.country.country"></config-comment>
        <config-comment cl-title="Country alpha code" cl-comment="$ctrl.country.alpha2"></config-comment>
        <config-comment cl-title="Timezone" cl-comment="$ctrl.timezone"></config-comment>
    </div>

    <!-- auth -->
    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='auth'">
        <config-switch
            cl-title="Enable secured access (at least one account must exists)"
            cl-icon="shield-lock" cl-model="$ctrl.auth.enabled" cl-click="$ctrl.setAuth(value)"
        ></config-switch>

        <config-section cl-title="Create new account" cl-icon="account-plus"></config-section>
        <config-text cl-title="Account name" cl-model="$ctrl.newAccount"></config-text>
        <config-text cl-title="Account password" cl-model="$ctrl.newPassword" cl-password="true"></config-text>
        <config-button
            cl-icon="" cl-btn-icon="account-plus" cl-btn-label="Add account"
            cl-click="$ctrl.addAuthAccount()"
        ></config-button>

        <config-section cl-title="Existing accounts" cl-icon="account-multiple"></config-section>
        <config-list cl-items="$ctrl.auth.accounts"></config-list>

    </div>

</div>

